<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App | Home Page</title>
</head>
<body>
    <a href="/add">Add New</a>
    <center>
        <table class="" border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>City</th>
                <th>Edit</th>
                <th>Update</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.number}}</td>
                <td>{{i.city}}</td>
                <td><a href="/update/{{i.id}}">Edit</a></td>
                <td><a href="/delete/{{i.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>