<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App | Update Page</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name" value="{{dt.name}}" placeholder="Enter Your Name" required>
            <label>Email</label>
            <input type="email" name="email" value="{{dt.email}}" placeholder="Enter Your Email" required>
            <label>Number</label>
            <input type="number" name="number" value="{{dt.number}}" placeholder="Enter Your Number" required>
            <label>City</label>
            <input type="text" name="city" value="{{dt.city}}" placeholder="Enter Your City" required>
            <input type="submit" value="Save Changes">
            <a href="/">Home</a>
        </form>
    </center>
</body>
</html>